h1, h4, .center {
	text-align:center;
}
.highlight {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.blackborder {
	border: 1px solid black;
}

.previewHolder {
	text-align: center;
}

.previewHolder img {
	position:absolute;
	max-width:144px;
	max-height:144px;
}

.rounded_edges {
	position:absolute;
	max-width:144px;
	max-height:144px;
	z-index: 1000;
}

#image_category {
	list-style-type:none;
	height: 400px;
	overflow:scroll;
	margin-left:0px;
}

#image_category li {
	padding:5px;
	text-align:center;
	max-width:144px;
	max-height:144px;
}

.image_layer {
	padding-bottom:5px;
	margin-top:5px;
}

.imagelayer-image {
	padding:2px;
	height:44px;
	width:44px;
}

.movelayer {
	margin-left:10px;
}

.deletelayer, .movelayer {
	margin-top:5px;
	float:right;
}

.imageopacity {
	position:inline;
}

.image_layer {
	border: 1px solid black;
}