h1, h4, p, .center {
	text-align:center;
}
.highlight {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.blackborder {
	border: 1px solid black;
}

.dropdown-menu {
	margin-left: 72px;
}

.previewHolder img {
	position:absolute;
	left:50%;
	margin-left: -71.5px;
	max-width:144px;
	max-height:144px;
}

.approve {
	margin-top: 200px;
}

.rounded_edges {
	z-index: 1000;
}

#image_category {
	list-style-type:none;
	margin-top: 10px;
	height: 400px;
	overflow:scroll;
}

#image_category li {
	position: relative;
	padding: 5px;
	margin-top: 5px;
	left:50%;
	margin-left: -88px;
	max-width:144px;
	max-height:144px;
	background-color: #e0e0e0
}

.image_layer {
	padding-bottom:5px;
	margin-top:5px;
	border: 1px solid #e0e0e0;
}

.imagelayer-image {
	padding:2px;
	height:44px;
	width:44px;
}

.movelayer {
	margin-left:10px;
}

.deletelayer, .movelayer {
	margin-top:5px;
	float:right;
}

.imageopacity {
	position:inline;
}
