h1, h4, .center {
	text-align:center;
}
.highlight {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.blackborder {
	border: 1px solid black;
}

.dropdown-menu {
	margin-left: 72px;
}

.previewHolder{
	position:relative;
	overflow:hidden;
	width:144px;
	height:144px;
	margin-left: 78px;
}

.previewHolder img {
	position:absolute;
	max-width:288px;

}

.approve {
	margin-top: 200px;
}

.rounded_edges {
	z-index: 1000;
}

#imageCategory {
	list-style-type: none;
	margin-top: 10px;
	height: 400px;
	overflow: scroll;
}

#imageCategory li {
	position: relative;
	padding: 5px;
	margin-top: 5px;
	left:50%;
	margin-left: -88px;
	max-width:144px;
	max-height:144px;
	background-color: #e0e0e0
}

#imageLayersList {
	margin-top: 10px;
	height: 400px;
	overflow: scroll;
}

.imageLayer {
	margin-bottom:15px;
	margin-top:5px;
	padding-bottom:5px;
	border-bottom: 2px solid #BBBBBB;
}

.imageLayerLeftSide {
	text-align: right;
	margin-left: -10px;
	padding-right: 10px;
	cursor: pointer;
}

.imageLayerRightSide {
	float: right;
	border-left: 1px solid #E0E0E0;
	margin-left: 0px;
	padding-left: 30px;
}

.imageLayerImage {
	padding:2px;
	height:44px;
	width:44px;
	background-color: #e0e0e0
}

.fieldLabels {
	padding-top:10px;
}

.field {
	width: 45px;
	display: inline;
}

.size {
	margin-left: 15px;
}

.y {
	margin-left: 40px;
}

.x {
	margin-left: 50px;
}

input[type="number"] {
	margin-bottom: 0px;
}

.movelayer {
	margin-left:10px;
}

.deletelayer {
	width:25px;
	margin-top:5px;
	float:right;
	cursor: pointer;
}

.imageopacity {
	position:inline;
}
